@{
    ViewData["Title"] = "Administrateur";
}


<!DOCTYPE html>
<html>
<head>
    <title>Page Administrateur</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="site.css" />

</head>
<body >
     <table>
        <thead>
           <tr>
               <th>Nom</th>
               <th></th>
           </tr>
        </thead>
     </table>

 </body>


</html>