@{
    ViewData["Title"] = "Home Page";
}


<div class="registrationBox">
    <!--<img src="~/images/avatar.jpg" class="avatar">-->
    <h1>Inscription</h1>
    <form>
        <p>Nom d'utilisateur</p>
        <input type="text" name="" placeholder="Entrez votre nom">
        <p>Mot de passe</p>
        <input type="password" name="" placeholder="Entrez votre mot de passe"><br>
        <input type="submit" name="" value="Connexion">
        <a href="#">Mot de passe oublie?</a><br>
        <a href="#">Je n'ai pas de compte</a>
    </form>

</div>

