@{
    ViewData["Title"] = "Home Page";
}


<div class="registerBox">
    <!--<img src="~/images/avatar.jpg" class="avatar">-->
    <h6>Inscription<h6>
                       <form>
                           <h4>Informations personnelles :</h4>

                           <h2>Nom de famille</h2>
                           <input type="text" name="" placeholder="Entrez votre nom de famille">

                           <h2>Prénom</h2>
                           <input type="text" name="" placeholder="Entrez votre prenom">

                           <h2>Adresse courriel</h2>
                           <input type="text" name="" placeholder="ex. abcd@test.com">

                           <h2>Mot de passe</h2>
                           <input type="password" name="" placeholder="Entrez votre mot de passe"><br>

                           <h2>Confirmation du mot de passe</h2>
                           <input type="password" name="" placeholder="Entrez a nouveau votre mot de passe"><br>

                             <select id="statue" name="statue">
                                <option value="Administrateur">Administrateur</option>
                                <option value="Utilisateur1">Utilisateur 1</option>
                                <option value="Utilisateur2">Utilisateur 2</option>
                             </select>

                           <input type="submit" name="" value="Créer un compte">


                       </form>

</div>

